In [1]:
import pandas as pd
df=pd.read_csv("temp.csv")
df

          day  temp  windspeed  event
0  01-01-2017    32          6   Rain
1  01-02-2017    35          7  Sunny
2  01-03-2017    28          2   Snow
3  01-04-2017    24          7   Snow
4  01-05-2017    32          4   Rain
5  01-06-2017    32          2  Sunny

In [6]:
rows,columns=df.shape
rows
columns

4

In [7]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [8]:
df['temp'].max()

35

In [9]:
df[df.temp>=32]

          day  temp  windspeed  event
0  01-01-2017    32          6   Rain
1  01-02-2017    35          7  Sunny
4  01-05-2017    32          4   Rain
5  01-06-2017    32          2  Sunny

In [12]:
df[df.temp==df.temp.max()]

          day  temp  windspeed  event
1  01-02-2017    35          7  Sunny

In [17]:
df.set_index('day',inplace=True)
df

            temp  windspeed  event
day
01-01-2017    32          6   Rain
01-02-2017    35          7  Sunny
01-03-2017    28          2   Snow
01-04-2017    24          7   Snow
01-05-2017    32          4   Rain
01-06-2017    32          2  Sunny

In [20]:
df.loc['01-03-2017']

temp           28
windspeed       2
event        Snow
Name: 01-03-2017, dtype: object